
<div 
  class="background-blocker"
  (click)="togglePicker()"></div>

<div 
  *ngFor="let s of sections"
  class="year-picker-section"
  [ngClass]="{
    'section-collapsed': s.collapsed,
    'section-hidden': s.id == 3 && !pickedC
  }">
  <div 
    class="year-picker-section-header"
    (click)="toggleSection(s)">
    <div class="year-picker-section-header-text">{{s.name}}</div>
    <div
      class="controls-container"
      (click)="$event.stopPropagation()">
      <div 
        class="control-button"
        [ngClass]="{
          'control-button-disabled': 
            (s.id == 1 && pickedM == limits.minM) ||
            (s.id == 2 && (!pickedC || pickedC == limits.minC)) ||
            (s.id == 3 && (pickedY == 0.1 || pickedY == limits.minY))
        }"
        (click)="shiftPeriod(s.id, -1)">&#9664;</div>
      <div 
        class="control-button"
        [ngClass]="{
          'control-button-disabled': 
            (s.id == 1 && pickedM == limits.maxM) ||
            (s.id == 2 && (!pickedC || pickedC == limits.maxC)) ||
            (s.id == 3 && (pickedY == 0.1 || pickedY == limits.maxY))
        }"
        (click)="shiftPeriod(s.id, 1)">&#9654;</div>
    </div>
  </div>
  <div class="year-picker-section-body">
    <div 
      *ngFor="let row of s.rows"
      class="year-picker-section-body-row"
      [ngClass]="{
        'row-hidden': !row.displayed,
        'row-collapsed': row.collapsed
      }">
      <div 
        *ngIf="row.name"
        class="year-picker-section-body-row-name"
        (click)="toggleRow(s.id, row)">{{row.name}}</div>
      <div class="year-picker-buttons-container">
        <div
          *ngFor="let b of row.buttons"
          class="year-picker-button"
          [ngClass]="{
            'button-large': s.id == 1,
            'button-invisible': !b.id,
            'button-selected': 
              (s.id == 1 && b.id == pickedM) ||
              (s.id == 2 && b.id == pickedC) ||
              (s.id == 3 && b.id == (pickedY > 0 ? pickedY : pickedY - 1))
          }"
          (click)="pickPeriod(s.id, (s.id == 3 && b.id < 0) ? b.id + 1 : b.id)">
          {{b.text}}
          <div 
            class="year-picker-button-click-changer"
            (click)="
              pickPeriodAndTogglePicker(s.id, (s.id == 3 && b.id < 0) ? b.id + 1 : b.id);
              $event.stopPropagation();"></div>
        </div>
      </div>
    </div>
  </div>
</div>
