
:host {
  display: flex;
  flex-basis: 830px;
  flex-shrink: 0;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;
  background-image: 
    url('../../assets/backgrounds/texture-3.png'),
    linear-gradient(90deg, #555 0, #555 3px, #333 3px, #1a1a1a 50%, #1a1a1a);
  user-select: none;
}

@media (max-width: 2499px) {
  :host.minimized {
    flex-basis: 140px;
  }
}

@media (max-width: 1599px) {
  :host {
    position: absolute;
    right: 0;
    z-index: 999;
    height: calc(100% - 30px);
  }
  :host.minimized {
    position: relative;
  }
}

@media (max-width: 1199px) {
  :host.minimized {
    display: none;
  }
}

@media (max-width: 899px) {
  :host {
    width: calc(100vw - 16px);
    padding: 15px 8px;
    background: #181818;
    height: unset;
    min-height: calc(100% + 60px);
  }
}


/*   Background Blocker   */

.background-blocker {
  display: none;
}

@media (max-width: 1599px) {
  .background-blocker {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: calc(100vw - 825px);
    background: 
      linear-gradient(-45deg, rgba(17, 17, 17, .6) 0, rgba(0, 0, 0, .6) 50%, rgba(17, 17, 17, .6) 100%);
  }
  :host.minimized .background-blocker { 
    display: none;
  }
}

@media (max-width: 599px) {
  .background-blocker {
    display: none;
  }
}


/*   Section Block   */

.year-picker-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  padding: 5px 10px;
  border-radius: 10px;
  animation: fadeIn .5s;
}

.year-picker-section.section-hidden {
  display: none;
}

@media (max-width: 899px) {
  .year-picker-section {
    padding: 5px 10px;
    background: #242424;
  }
}


/*   Section Header   */

.year-picker-section-header {
  display: flex;
  width: calc(100% - 20px);
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #3c3c3c;
  transition: .3s;
}

.year-picker-section-header-triangle {
  display: none;
  width: 19px;
  justify-content: center;
  margin-right: 10px;
  color: #888;
  font-size: 14px;
  transform: rotate(90deg);
  transition: .2s;
}

.year-picker-section.section-collapsed .year-picker-section-header-triangle {
  transform: rotate(0deg);
}

.year-picker-section-header-text {
  font-size: 20px;
  letter-spacing: 0.03em;
}

.year-picker-section-header-hint-text {
  display: inline-flex;
  margin-left: 20px;
  color: #999;
  font-size: 18px;
}

@media (max-width: 2499px) {
  :host.minimized .year-picker-section-header {
    justify-content: center;
  }
  :host.minimized .year-picker-section-header-text {
    text-indent: 0;
  }
}

@media (max-width: 899px) {
  .year-picker-section-header {
    padding: 3px 10px 2px 10px;
    border-color: #343434;
    cursor: pointer;
  }
  .year-picker-section-header-text {
    font-size: 18px;
  }
  .year-picker-section-header-triangle {
    display: inline-flex;
  }
  .year-picker-section-header-hint-text {
    margin-left: 10px;
    font-size: 16px;
  }
  .year-picker-section-header-hint-text.text-hidden-tablet {
    display: none;
  }
  .year-picker-section.section-collapsed .year-picker-section-header {
    border-color: transparent;
  }
  .year-picker-section.section-collapsed .year-picker-section-header-hint-text.text-hidden-tablet {
    display: inline-flex;
  }
}

@media (max-width: 599px) {
  .year-picker-section-header {
    width: calc(100% - 10px);
    padding: 3px 5px 2px 5px;
  }
  .year-picker-section-header-triangle {
    width: 17px;
    margin-right: 8px;
    font-size: 12px;
  }
  .year-picker-section-header-text {
    font-size: 16px;
  }
  .year-picker-section-header-hint-text {
    font-size: 14px;
  }
}


/*   Section Body   */

.year-picker-section-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.year-picker-section-body-row {
  display: flex;
  width: 100%;
}

.year-picker-section-body-row.row-hidden {
  display: none;
}

.year-picker-section-body-row-name,
.year-picker-section-body-row-name-mobile {
  display: none;
}

.year-picker-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 899px) {
  .year-picker-section-body {
    margin-bottom: 5px;
  }
  .year-picker-section.section-collapsed .year-picker-section-body {
    display: none;
  }
  .year-picker-section-body-row {
    padding: 1px 0 6px 0;
    border-bottom: 2px solid #222;
    background: #1c1c1c;
  }
  .year-picker-section-body-row.last-of-type {
    border-bottom: none;
  }
  .year-picker-section-body-row-name {
    display: flex;
    flex-basis: 130px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #999;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 599px) {
  .year-picker-section-body-row-name {
    display: none;
  }
  .year-picker-section-body-row-name-mobile {
    display: flex;
    flex-basis: 130px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #999;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.02em;
  }
  .year-picker-section-body-row.row-collapsed .year-picker-section-body-row-name-mobile {
    margin: 5px auto 0 auto;
    padding: 4px 0;
    border-radius: 5px;
    background: #242424;
    cursor: pointer;
  }
  .year-picker-section-body-row.row-collapsed .year-picker-buttons-container {
    display: none;
  }
}


/*   Buttons   */

.year-picker-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 58px;
  margin: 5px 5px 0 0;
  padding: 3px 8px;
  border-radius: 4px;
  background: #242424;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, .025) inset, 0 0 1px 1px #222;
  font-size: 14px;
  letter-spacing: 0.03em;
  white-space: nowrap;
  cursor: pointer;
  transition: .2s;
  animation: fadeIn .8s;
}

.year-picker-button:last-of-type {
  margin-right: 0;
}

.year-picker-button.button-selected {
  background: #333;
  box-shadow: 0 0 2px 2px rgba(255, 255, 0, .15) inset, 0 0 1px 1px #222;
  color: #bbb;
  pointer-events: none;
}

.year-picker-button.button-invisible {
  visibility: hidden;
}

.year-picker-button.button-large {
  width: 80px;
  margin: 10px 8px 0 0;
  padding: 5px 10px;
}

.year-picker-button.button-large:last-of-type {
  margin-right: 0;
}

.year-picker-button-click-changer {
  display: none;
}

@media (hover: hover) {
  .year-picker-button:hover {
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, .08) inset, 0 0 1px 1px #222;
  }
}

@media (max-width: 2499px) {
  :host.minimized .year-picker-button {
    display: none;
  }
  :host.minimized .year-picker-button.button-selected {
    display: inline-flex;
    background: #282828;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, .025) inset, 0 0 1px 1px #222;
    color: #aaa;
    pointer-events: unset;
  }
}

@media (max-width: 899px) {
  .year-picker-button {
    background: #282828;
  }
  .year-picker-button:nth-of-type(5n - 4) {
    margin-left: calc((100% - 74px * 5 - 20px) / 2);
  }
  .year-picker-button:nth-of-type(5n) {
    margin-right: calc((100% - 74px * 5 - 20px) / 2);
  }
  .year-picker-button.button-large {
    margin-top: 5px;
    margin-left: 0;
  }
  .year-picker-button-click-changer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 599px) {
  .year-picker-button {
    font-size: 13px;
  }
  .year-picker-button.button-selected {
    background: #383838;
  }
  .year-picker-button:nth-of-type(5n - 4) {
    margin-left: 0;
  }
  .year-picker-button:nth-of-type(5n) {
    margin-right: 5px;
  }
  .year-picker-button:nth-of-type(2n - 1) {  
    margin-left: calc((100% - 74px * 2 - 5px) / 2);
  }
  .year-picker-button:nth-of-type(2n) {  
    margin-right: calc((100% - 74px * 2 - 5px) / 2);
  }
  .year-picker-button.button-large.button-bc:nth-of-type(odd),
  .year-picker-button.button-large.button-ce:nth-of-type(2n) {
    margin-left: calc((100% - 100px * 2 - 8px) / 2);
    margin-right: 6px;
  }
  .year-picker-button.button-large.button-bc:nth-of-type(even),
  .year-picker-button.button-large.button-ce:nth-of-type(2n - 1) {
    margin-left: 0;
    margin-right: calc((100% - 100px * 2 - 8px) / 2);
  }
  .year-picker-button.button-large.button-bc:nth-of-type(5n),
  .year-picker-button.button-large.button-ce:first-of-type {
    margin-left: calc((100% - 100px) / 2);
    margin-right: calc((100% - 100px) / 2);
  }
}


/*   Controls   */

.controls-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  animation: fadeIn .3s;
}

.control-button {
  margin: 0 3px;
  padding: 2px 10px;
  border-radius: 4px;
  background: #2c2c2c;
  color: #999;
  font-size: smaller;
  cursor: pointer;
  transition: .3s;
}

.control-button-disabled {
  opacity: .4;
  pointer-events: none;
}

.year-picker-toggler {
  margin: 50px auto 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  background: #282828;
  font-size: 18px;
  cursor: pointer;
}

@media (hover: hover) {
  .control-button:hover {
    background: #383838;
  }
}

@media (max-width: 2499px) {
  :host.minimized .controls-container {
    display: none;
  }
}

@media (max-width: 899px) {
  .controls-container {
    cursor: default;
  }
  .control-button {
    background: #2e2e2e;
  }
  .year-picker-section.section-collapsed .controls-container,
  .year-picker-section:last-of-type .controls-container {
    display: none;
  }
}


/*   Settings   */

.year-picker-section-settings-toggler {
  display: inline-flex;
  width: 22px;
  height: 22px;
  margin-left: 75%;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../../assets/icons/settings.png');
  opacity: .6;
  cursor: pointer;
  transition: .2s;
}

.year-picker-section-settings-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background: #1f1f1f;
  padding-top: 8px;
  border-radius: 5px;
  user-select: none;
  animation: fadeIn .5s;
}

.year-picker-section-settings-panel-block {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  margin-bottom: 8px;
}

.year-picker-section-settings-panel-block-header {
  display: flex;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: .03em;
}

.year-picker-section-settings-panel-block-body {
  display: flex;
  flex-wrap: wrap;
}

.year-picker-section-settings-panel-button {
  display: inline-flex;
  margin-top: 1px;
  margin-right: 3px;
  padding: 2px 10px 3px 10px;
  background: #2c2c2c;
  color: #999;
  font-size: 14px;
  letter-spacing: .02em;
  cursor: pointer;
  transition: .2s;
}

.year-picker-section-settings-panel-button:first-of-type {
  border-radius: 5px 0 0 5px;
}

.year-picker-section-settings-panel-button:last-of-type {
  margin-right: 0;
  border-radius: 0 5px 5px 0;
}

.year-picker-section-settings-panel-button.settings-panel-button-selected {
  background: #383838;
  color: #aaa;
  pointer-events: none;
}

@media (hover: hover) {
  .year-picker-section-settings-toggler:hover {
    opacity: .8;
  }
  .year-picker-section-settings-panel-button:hover {
    box-shadow: 0 0 3px 3px #383838 inset;
  }
}

@media (max-width: 899px) {
  .year-picker-section-settings-toggler,
  .year-picker-section-settings-panel {
    display: none;
  }
}
