
:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 830px;
  padding: 15px 10px;
  background: #1a1a1a;
  user-select: none;
}

@media (max-width: 2499px) {
  :host.minimized {
    width: 140px;
  }
}

@media (max-width: 1199px) {
  :host {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  :host.minimized {
    display: none;
  }
}

@media (max-width: 899px) {
  :host {
    top: 65px;
    width: calc(100% - 16px);
    padding: 15px 8px;
    background: #181818;
  }
}

@media (max-width: 599px) {
  :host {
    top: 60px;
  }
}


/*   Background Blocker   */

.background-blocker {
  display: none;
}

@media (max-width: 1199px) {
  .background-blocker {
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: calc(100vw - 830px);
    background: rgba(0, 0, 0, .6);
    cursor: pointer;
  }
}

@media (max-width: 599px) {
  .background-blocker {
    display: none;
  }
}


/*   Section Block   */

.year-picker-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  padding: 5px 10px;
  border-radius: 10px;
  animation: fadeIn .5s;
}

.year-picker-section.section-hidden {
  display: none;
}

@media (max-width: 899px) {
  .year-picker-section {
    padding: 5px 10px;
    background: #222;
  }
}


/*   Section Header   */

.year-picker-section-header {
  display: flex;
  width: calc(100% - 20px);
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #333;
  transition: .3s;
}

.year-picker-section-header-text {
  font-size: 20px;
  letter-spacing: 0.03em;
}

@media (max-width: 2499px) {
  :host.minimized .year-picker-section-header {
    justify-content: center;
  }
  :host.minimized .year-picker-section-header-text {
    text-indent: 0;
  }
}

@media (max-width: 899px) {
  .year-picker-section-header {
    padding: 3px 10px 2px 10px;
  }
  .year-picker-section-header-text {
    font-size: 18px;
  }
  .year-picker-section.section-collapsed .year-picker-section-header {
    border-color: transparent;
  }
}

@media (max-width: 599px) {
  .year-picker-section-header-text {
    font-size: 16px;
  }
}


/*   Section Body   */

.year-picker-section-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.year-picker-section-body-row {
  display: flex;
  width: 100%;
}

.year-picker-section-body-row.row-hidden {
  display: none;
}

.year-picker-section-body-row-name {
  display: none;
}

.year-picker-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 899px) {
  .year-picker-section-body {
    margin-bottom: 5px;
  }
  .year-picker-section.section-collapsed .year-picker-section-body {
    display: none;
  }
  .year-picker-section-body-row {
    padding: 1px 0 6px 0;
    border-bottom: 2px solid #222;
    background: #1c1c1c;
  }
  .year-picker-section-body-row.last-of-type {
    border-bottom: none;
  }
  .year-picker-section-body-row-name {
    display: flex;
    flex-basis: 130px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #999;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 599px) {
  .year-picker-section-body-row.row-collapsed .year-picker-section-body-row-name {
    margin: 5px auto 0 auto;
    padding: 5px 0;
    border-radius: 5px;
    background: #242424;
    cursor: pointer;
  }
  .year-picker-section-body-row.row-collapsed .year-picker-buttons-container {
    display: none;
  }
}


/*   Buttons   */

.year-picker-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 58px;
  margin: 5px 5px 0 0;
  padding: 3px 8px;
  border-radius: 4px;
  background: #242424;
  font-size: 14px;
  letter-spacing: 0.03em;
  white-space: nowrap;
  cursor: pointer;
  transition: .2s;
  animation: fadeIn .8s;
}

.year-picker-button:last-of-type {
  margin-right: 0;
}

.year-picker-button.button-selected {
  background: #333;
  pointer-events: none;
}

.year-picker-button.button-invisible {
  visibility: hidden;
}

.year-picker-button.button-large {
  width: 80px;
  margin: 10px 8px 0 0;
  padding: 5px 10px;
}

.year-picker-button.button-large:last-of-type {
  margin-right: 0;
}

.year-picker-button-click-changer {
  display: none;
}

@media (hover: hover) {
  .year-picker-button:hover {
    box-shadow: 0 0 3px 3px #333 inset;
  }
}

@media (max-width: 2499px) {
  :host.minimized .year-picker-button {
    display: none;
  }
  :host.minimized .year-picker-button.button-selected {
    display: inline-flex;
    pointer-events: unset;
  }
}

@media (max-width: 899px) {
  .year-picker-button {
    background: #282828;
  }
  .year-picker-button:nth-of-type(5n - 4) {
    margin-left: calc((100% - 74px * 5 - 20px) / 2);
  }
  .year-picker-button:nth-of-type(5n) {
    margin-right: calc((100% - 74px * 5 - 20px) / 2);
  }
  .year-picker-button.button-large {
    margin-top: 5px;
    margin-left: 0;
  }
  .year-picker-button-click-changer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 599px) {
  .year-picker-button {
    font-size: 13px;
  }
  .year-picker-button:nth-of-type(5n - 4) {
    margin-left: 0;
  }
  .year-picker-button:nth-of-type(5n) {
    margin-right: 5px;
  }
  .year-picker-button:nth-of-type(2n - 1) {  
    margin-left: calc((100% - 74px * 2 - 5px) / 2);
  }
  .year-picker-button:nth-of-type(2n) {  
    margin-right: calc((100% - 74px * 2 - 5px) / 2);
  }
  .year-picker-button.button-large:nth-of-type(odd) {
    margin-left: calc((100% - 100px * 2 - 8px) / 2);
  }
  .year-picker-button.button-large:nth-of-type(even) {
    margin-right: calc((100% - 100px * 2 - 8px) / 2);
  }
  .year-picker-button.button-large:nth-of-type(5n) {
    margin-left: auto;
    margin-right: auto;
  }
}


/*   Controls   */

.controls-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  animation: fadeIn .3s;
}

.control-button {
  margin: 0 3px;
  padding: 2px 10px;
  border-radius: 4px;
  background: #282828;
  color: #999;
  font-size: smaller;
  cursor: pointer;
  transition: .3s;
}

.control-button-disabled {
  opacity: .4;
  pointer-events: none;
}

.year-picker-toggler {
  margin: 50px auto 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  background: #282828;
  font-size: 18px;
  cursor: pointer;
}

@media (hover: hover) {
  .control-button:hover {
    background: #383838;
  }
}

@media (max-width: 2499px) {
  :host.minimized .controls-container {
    display: none;
  }
}

@media (max-width: 899px) {
  .year-picker-section.section-collapsed .controls-container,
  .year-picker-section:last-of-type .controls-container {
    display: none;
  }
}
