
<div 
  class="background-blocker"
  (click)="togglePicker()"></div>

<div 
  *ngFor="let s of sections"
  class="year-picker-section"
  [ngClass]="{
    'section-collapsed': s.collapsed,
    'section-hidden': s.id == 3 && !pickedC
  }">
  <div 
    class="year-picker-section-header"
    (click)="toggleSection(s)">
    <div 
      *ngIf="minimized"
      class="year-picker-section-header-text">{{s.name.minimized}}</div>
    <div 
      *ngIf="!minimized"
      class="year-picker-section-header-triangle">&#9654;</div>
    <div 
      *ngIf="!minimized"
      class="year-picker-section-header-text">
      {{s.name.normal}}
      <div 
        *ngIf="s.name.hintText"
        class="year-picker-section-header-hint-text"
        [ngClass]="{'text-hidden-tablet': s.id == 2}">({{s.name.hintText}})</div>
    </div>
    <div 
      *ngIf="s.id == 1 && !minimized"
      class="year-picker-section-settings-toggler"
      (click)="toggleSettings()"></div>
    <div
      class="controls-container"
      (click)="$event.stopPropagation()">
      <div 
        class="control-button"
        [ngClass]="{
          'control-button-disabled': 
            (s.id == 1 && 
              (pickedM <= limits.minM || pickedM > limits.maxM)) ||
            (s.id == 2 && 
              (!pickedC || pickedC == limits.minC || (pickedC < limits.minC && (limits.minC - pickedC) % 10 == 0))) ||
            (s.id == 3 && 
              (pickedY == 0.1 || pickedY == limits.minY || (pickedY < limits.minY && (limits.minY - pickedY) % 1000 == 0)))
        }"
        (click)="shiftPeriod(s.id, -1)">&#9664;</div>
      <div 
        class="control-button"
        [ngClass]="{
          'control-button-disabled': 
            (s.id == 1 && 
              (pickedM >= limits.maxM || pickedM < limits.minM)) ||
            (s.id == 2 && 
              (!pickedC || pickedC == limits.maxC || (pickedC > limits.maxC && (pickedC - limits.maxC) % 10 == 0))) ||
            (s.id == 3 && 
              (pickedY == 0.1 || pickedY == limits.maxY || (pickedY > limits.maxY && (pickedY - limits.maxY) % 1000 == 0)))
        }"
        (click)="shiftPeriod(s.id, 1)">&#9654;</div>
    </div>
  </div>
  <div class="year-picker-section-body">
    <div 
      *ngIf="s.id == 1 && settingsPanel && !minimized"
      class="year-picker-section-settings-panel">
      <div 
        *ngFor="let block of settingsPanelBlocks; index as bi"
        class="year-picker-section-settings-panel-block">
        <div class="year-picker-section-settings-panel-block-header">{{block.text}}</div>
        <div class="year-picker-section-settings-panel-block-body">
          <div 
            *ngFor="let b of block.buttons; index as i"
            class="year-picker-section-settings-panel-button"
            [ngClass]="{
              'settings-panel-button-selected': 
                (bi == 0 && limits.startExt == 3 - i) ||
                (bi == 1 && limits.endExt == i)
            }"
            (click)="setCalendarLimits(bi ? limits.startExt : 3 - i, bi ? i : limits.endExt)">{{b}}</div>
        </div>
      </div>
    </div>
    <div 
      *ngFor="let row of s.rows"
      class="year-picker-section-body-row"
      [ngClass]="{
        'row-hidden': !row.displayed && !minimized,
        'row-collapsed': row.collapsed
      }">
      <div 
        *ngIf="row.name"
        class="year-picker-section-body-row-name">{{row.name}}</div>
      <div 
        *ngIf="row.name"
        class="year-picker-section-body-row-name-mobile"
        style="background: radial-gradient(
          {{row.collapsed ? '#242424' : 'transparent'}}, 
          hsl({{row.buttons[0].bg.h}}, {{row.buttons[0].bg.s}}%, {{row.buttons[0].bg.l}}%, {{row. collapsed ? 1.0 : 0}})
        );"
        (click)="toggleRow(s.id, row)">{{row.name}}</div>
      <div class="year-picker-buttons-container">
        <div
          *ngFor="let b of row.buttons"
          class="year-picker-button"
          style="background: radial-gradient(#242424, hsl({{b.bg.h}}, {{b.bg.s}}%, {{b.bg.l}}%, 1.0));"
          [ngClass]="{
            'button-large': s.id == 1,
            'button-bc': s.id == 1 && b.id < 0,
            'button-ce': s.id == 1 && b.id > 0,
            'button-invisible': !b.id,
            'button-selected': 
              (s.id == 1 && b.id == pickedM) ||
              (s.id == 2 && b.id == pickedC) ||
              (s.id == 3 && b.id == (pickedY > 0 ? pickedY : pickedY - 1))
          }"
          (click)="pickPeriod(s.id, (s.id == 3 && b.id < 0) ? b.id + 1 : b.id)">
          {{b.text}}
          <div 
            class="year-picker-button-click-changer"
            (click)="
              pickPeriodAndTogglePicker(s.id, (s.id == 3 && b.id < 0) ? b.id + 1 : b.id);
              $event.stopPropagation();"></div>
        </div>
      </div>
    </div>
  </div>
</div>
