
:host {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  min-height: calc(100vh + 60px);
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-basis: 100%;
  max-width: 2560px;
  height: calc(100% - 130px);
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-basis: 100%;
  align-self: flex-end;
  height: 60px;
  background: #282828;
}

@media (max-width: 899px) {
  .main-wrapper {
    min-height: calc(100% - 125px);
  }
}

@media (max-width: 599px) {
  .main-wrapper {
    min-height: calc(100% - 120px);
  }
}