
<!-- Header -->
<app-header-block
  [yearPickerShown]="yearPickerShown"
  (toggleInfo)="toggleInfoOverlay()"
  (toggleYearPicker)="toggleYearPicker()">
</app-header-block>

<div class="main-wrapper">

  <!-- Calendar for the picked year -->
  <div class="year-container">
    <app-year-block
      [year]="year"
      (changeYear)="pickYear($event)">
    </app-year-block>
  </div>

  <!-- Interface for picking a year -->
  <div class="year-picker-container">
    <app-year-picker
      [minimize]="!yearPickerShown"
      [year]="year"
      (pick)="pickYear($event)">
    </app-year-picker>
  </div>
  
</div>

<!-- Info Overlay -->
<app-info-block
  *ngIf="infoOverlayShown"
  (click)="toggleInfoOverlay()"
  (toggleInfo)="toggleInfoOverlay()">
</app-info-block>
