
<!-- Month Header -->
<div 
  class="month-header-container"
  (click)="toggleMonth()">
  <div class="month-header">
    <span class="month-header-m">{{monthName}}&ensp;</span>
    <span class="month-header-y">{{yearNumStr}}</span>
  </div>
  <div class="month-number">{{monthNumStr}}</div>
</div>

<div class="month-grid-container">

  <!-- Weekday Headers -->
  <div
    *ngFor="let block of weekdays; index as i"
    class="day-block weekday-header"
    (mouseenter)="setHoveredWeekday(i)"
    (mouseleave)="setHoveredWeekday(undefined)">{{block}}</div>

  <!-- Month Grid -->
  <div 
    *ngFor="let block of monthGridArray; index as i"
    class="day-block"
    [ngClass]="{
      'block-hoverable': block,
      'weekday-hovered': i % 7 == weekdayHovered
    }"
    (mouseenter)="updatehovDateDiff(block)">
    {{block || ' '}}
    <div class="day-block-hint">
      <div class="day-block-hint-header">{{block}} {{monthName}} {{yearNumStr}}</div>
      <div 
        *ngIf="hovDateDiff.y && hovDateDiff.yStr"
        class="day-block-hint-line">
        <span>{{hovDateDiff.yStr.num}}</span>
        <span class="day-block-hint-line-p2">{{hovDateDiff.yStr.tail}}</span>
      </div>
      <div 
        *ngIf="hovDateDiff.m && hovDateDiff.mStr && year > yearToday - 3 && year < yearToday + 3"
        class="day-block-hint-line">
        <span>{{hovDateDiff.mStr.num}}</span>
        <span class="day-block-hint-line-p2">{{hovDateDiff.mStr.tail}}</span>
      </div>
      <div 
        *ngIf="hovDateDiff.w && hovDateDiff.wStr && year > yearToday - 2 && year < yearToday + 2"
        class="day-block-hint-line">
        <span>{{hovDateDiff.wStr.num}}</span>
        <span class="day-block-hint-line-p2">{{hovDateDiff.wStr.tail}}</span>
      </div>
      <div 
        *ngIf="hovDateDiff.d && hovDateDiff.dStr"
        class="day-block-hint-line">
        <span>{{hovDateDiff.dStr.num}}</span>
        <span class="day-block-hint-line-p2">{{hovDateDiff.dStr.tail}}</span>
      </div>
      <div 
        *ngIf="!hovDateDiff.d"
        class="day-block-hint-line">Today</div>
    </div>
  </div>

</div>
